<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lowic.data.analysis.mapper.AnalysisMapper">
    <select id="listSpAdRpContactBuRp" resultType="com.lowic.data.analysis.export.vo.SpCombineBr">
        select *,
               MONTH(date)                                                                         as month,
               CONCAT(WEEK(date, 1), '(', DATE_FORMAT(SUBDATE(date, (DATE_FORMAT(date, '%w') + 6) % 7), '%m/%d'),
                      '-',
                      DATE_FORMAT(SUBDATE(date, (DATE_FORMAT(date, '%w') - 7) % 7), '%m/%d'), ')') as week,
               DATE_FORMAT(date, '%w')                                                             as weekday
        from (select sp_result.*,
                     pd.category_one,
                     pd.category_two,
                     pd.shop,
                     pd.product_owner,
                     pd.product_grade,
                     pd.sales_status,
                     pd.brand,
                     br.sessions_total,
                     br.units_order,
                     br.product_sales
              from (select date,
                           advertised_asin,
                           SUM(impressions)            as impressions,
                           SUM(clicks)                 as clicks,
                           SUM(spend)                  as spend,
                           SUM(seven_day_total_sales)  as sales,
                           SUM(seven_day_total_orders) as orders,
                           SUM(seven_day_total_units)  as units
                    from sp_ad_rp sp
                    group by date,
                             advertised_asin) sp_result
                       left join product_info pd on sp_result.advertised_asin = pd.asin
                       left join (select date,
                                         child_asin,
                                         SUM(sessions_total) as sessions_total,
                                         SUM(units_order)    as units_order,
                                         SUM(sales)          as product_sales
                                  from business_report
                                  group by date, child_asin) br
                                 on sp_result.advertised_asin = br.child_asin and sp_result.date = br.date

              union all

              select br.date,
                     br.child_asin,
                     sp_result.impressions,
                     sp_result.clicks,
                     sp_result.spend,
                     sp_result.sales,
                     sp_result.orders,
                     sp_result.units,
                     pd.category_one,
                     pd.category_two,
                     pd.shop,
                     pd.product_owner,
                     pd.product_grade,
                     pd.sales_status,
                     pd.brand,
                     br.sessions_total,
                     br.units_order,
                     br.product_sales
              from (select date,
                           advertised_asin,
                           SUM(impressions)            as impressions,
                           SUM(clicks)                 as clicks,
                           SUM(spend)                  as spend,
                           SUM(seven_day_total_sales)  as sales,
                           SUM(seven_day_total_orders) as orders,
                           SUM(seven_day_total_units)  as units
                    from sp_ad_rp sp
                    group by date,
                             advertised_asin) sp_result
                       left join product_info pd on sp_result.advertised_asin = pd.asin
                       right join (select date,
                                          child_asin,
                                          SUM(sessions_total) as sessions_total,
                                          SUM(units_order)    as units_order,
                                          SUM(sales)          as product_sales
                                   from business_report
                                   group by date, child_asin) br
                                  on sp_result.advertised_asin = br.child_asin and sp_result.date = br.date
              where advertised_asin is null) result
        order by date
    </select>

    <select id="listSbInfoContactBuRp">
        select *
        from ((select date,
                      category_one,
                      sum(sessions_total) as sessions_total,
                      sum(units_order)    as units_order,
                      sum(sales)          as sales
               from business_report
                        left join product_info on business_report.child_asin = product_info.asin
               group by date, category_one) bu_temp
            left join
            (select date,
                    category_one,
                    sum(impressions)               as impressions,
                    sum(clicks)                    as clicks,
                    sum(spend)                     as spend,
                    sum(fourteen_day_total_sales)  as fourteen_day_total_sales,
                    sum(fourteen_day_total_orders) as fourteen_day_total_orders
             from sb_camp_rp
                      left join sb_info on sb_camp_rp.campaign_name = sb_info.campaign_name
             group by date, category_one) sb_temp
              on bu_temp.category_one = sb_temp.category_one and bu_temp.date = sb_temp.datel)
    </select>
</mapper>
