<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lowic.data.analysis.mapper.ProductionInfoMapper">
    <insert id="batchInsert" parameterType="com.lowic.data.analysis.entity.ProductionInfo">
        insert into production_info (
            amazon_sku,
            erp_sku,
            asin,
            product_name,
            product_abbreviation,
            category_one,
            category_two,
            shop,
            product_owner,
            product_grade,
            sales_status,
            brand
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.amazonSku},
            #{item.erpSku},
            #{item.asin},
            #{item.productName},
            #{item.productAbbreviation},
            #{item.categoryOne},
            #{item.categoryTwo},
            #{item.shop},
            #{item.productOwner},
            #{item.productGrade},
            #{item.salesStatus},
            #{item.brand}
        )
        </foreach>
    </insert>
</mapper>
