<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lowic.data.analysis.mapper.SbCampRpMapper">
    <insert id="batchInsert" parameterType="com.lowic.data.analysis.entity.SbCampRp">
        INSERT INTO sb_camp_rp (
            `date`,
            portfolio_name,
            currency,
            campaign_name,
            impressions,
            clicks,
            ctr,
            cpc,
            spend,
            acos,
            roas,
            fourteen_day_total_sales,
            fourteen_day_total_orders,
            fourteen_day_total_units,
            fourteen_day_conversion_rate,
            viewable_impressions,
            view_through_rate,
            click_through_rate_for_views,
            video_first_quartile_views,
            video_midpoint_views,
            video_third_quartile_views,
            video_complete_views,
            video_unmutes,
            five_second_views,
            five_second_view_rate,
            fourteen_day_branded_searches,
            fourteen_day_detail_page_views_dpv,
            fourteen_day_new_to_brand_orders,
            fourteen_day_of_orders_new_to_brand,
            fourteen_day_new_to_brand_sales,
            fourteen_day_of_sales_new_to_brand,
            fourteen_day_new_to_brand_units,
            fourteen_day_of_units_new_to_brand,
            fourteen_day_new_to_brand_order_rate
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.date},
            #{item.portfolioName},
            #{item.currency},
            #{item.campaignName},
            #{item.impressions},
            #{item.clicks},
            #{item.ctr},
            #{item.cpc},
            #{item.spend},
            #{item.acos},
            #{item.roas},
            #{item.fourteenDayTotalSales},
            #{item.fourteenDayTotalOrders},
            #{item.fourteenDayTotalUnits},
            #{item.fourteenDayConversionRate},
            #{item.viewableImpressions},
            #{item.viewThroughRate},
            #{item.clickThroughRateForViews},
            #{item.videoFirstQuartileViews},
            #{item.videoMidpointViews},
            #{item.videoThirdQuartileViews},
            #{item.videoCompleteViews},
            #{item.videoUnmutes},
            #{item.fiveSecondViews},
            #{item.fiveSecondViewRate},
            #{item.fourteenDayBrandedSearches},
            #{item.fourteenDayDetailPageViewsDpv},
            #{item.fourteenDayNewToBrandOrders},
            #{item.fourteenDayOfOrdersNewToBrand},
            #{item.fourteenDayNewToBrandSales},
            #{item.fourteenDayOfSalesNewToBrand},
            #{item.fourteenDayNewToBrandUnits},
            #{item.fourteenDayOfUnitsNewToBrand},
            #{item.fourteenDayNewToBrandOrderRate}
        )
        </foreach>
    </insert>
</mapper>
